@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primaryt: #d4a373;
  --color-secondaryt: #e9c46a;
  --color-primarybg: #1e2033;
  --color-secondarybg: #2a2d43;
  --color-primarybg-dark: #141624;
}
